.center {
  text-align: center;
}

.sections {
  max-width: 35em;
  margin: 0 auto;

  .section {
    margin-bottom: 1.5em;
  }

  h2 {
    color: rgba(0, 0, 0, 0.45);
    text-transform: capitalize;
    font-size: 0.9em;
    margin-left: -10px;
    transition: 0.4s;
  }

  h3 {
    font-size: 15.5px;
    // color: #298ed8;

    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .date {
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.80rem;
      float: right;
      font-weight: normal;
    }

    transition: 0.3s;
  }

  p {
    margin-top: 0.4rem;
  }

  p.description {
    padding-left: 5px;
    width: 30rem;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.4s;
  }

  .group {
    margin-bottom: 3rem;
  }
}

html.darkmode {
  h2 {
    color: #616161;
    transition: 0.3s;
  }
  h3 {
    color: #cdbaef;

    .date {
      color: #616161;
    }
  }
  p.description {
    color: #616161;
    transition: 0.4s;
  }
}