.center {
  text-align: center;
}

.sections {
  max-width: 30em;
  margin: 0 auto;

  .section {
    margin-bottom: 1.5em;
  }

  h2 {
    color: rgba(0, 0, 0, 0.45);
    text-transform: capitalize;
    font-size: 0.9em;
    margin-left: -10px;
  }

  h3 {
    font-size: 15px;
    // color: #298ed8;
    
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .date {
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.80rem;
      float: right;
      font-weight: normal;
    }
  }

  p {
    margin-top: 0.4rem;
  }

  p.description {
    width: 25rem;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .group {
    margin-bottom: 3rem;
  }
}
